body {
	word-wrap:break-word;
	min-width:780px;
}

a:link, a:visited, a:active {
	color: blue;
	text-decoration:none;
}

a:hover {
	color:red;
}

div.alert {
	color:white;
	background:red;
	
	position:absolute;
	top:0px;
	padding-left:5px;
	padding-right:5px;
}

div.msg {
	color:white;
	background:green;
	
	position:absolute;
	top:0px;
	padding-left:5px;
	padding-right:5px;
}

[type=number] {
	width:40px;
	position:relative;
	left:2px;
}

input.coord[type=number] {
	width:150px;
}

table { 
    border-collapse: collapse;
}

table td {
	margin:0px;
	padding:0px;
	
	padding-right:8px;
}

table.data td {
	border:1px solid black;
	padding: 1px 5px;
}

table.race_input tr:hover {
	background-color:gray;
	color:white;
}

label.input {
	display: inline-block;
	width: 100px;
}

h1.title {
	margin-top:0px;
}

legend {
	font-weight:bold;
}