div#divHead {
	margin: 0 auto;
	margin-top:8px;
	padding: 5px 15px;
	width:870px;
	border:1px solid black;
	border-bottom:none;
	background-color:#000088;
	color:white;
}

div#divMenu {
	width:890px;
	margin: 0 auto;
	border:1px solid black;
	background-color: grey;
	margin-bottom:15px;
	padding: 0 5px;
}

div#divMain {
	margin: 0 auto;
	width:912px;
	padding-left:10px;
	overflow:auto;
}

div#divFoot {
	margin: 0 auto;
	margin-bottom:15px;
	width:870px;
	padding:10px 15px 0 15px;
	border-top:1px solid grey
}

div.single, div.double, div.triple {
	/*float:left;*/
	background-color:white;
	border: 1px solid;
	margin-right:10px;
	margin-bottom:10px;
	padding:10px;
	border-radius:3px;
	border-color:#AAA #888 #888 #AAA;
	box-shadow: 1px 1px 2px #999;
}

div.singleFull, div.doubleFull, div.tripleFull
{
	border: 1px transparent;
	margin-right:10px;
	margin-bottom:10px;
	box-shadow: 1px 1px 2px #999;
}

div.single {
	width:272px;
}

div.double {
	width:576px;
}

div.triple {
	width:880px;
}

/* Normal+20px, no padding */
div.singleFull {
	width:292px;
	padding:0
}

div.doubleFull {
	width:596px;
	padding:0
}

div.tripleFull {
	width:900px;
	padding:0
}

div.frame {
	overflow:auto;
}