/*Right side tables*/
div.right {
	float:right;
	width:280px;
	padding:10px;
	border:1px solid #AAAAAA;
	background-color:#F9F9F9;
	/*font-size:11px;*/
	clear:both;
	margin-bottom:10px;
	margin-left:10px;
	vertical-align:top;
	border-radius:2px;
	
	background-repeat:no-repeat;
}

div.righthead {
	background-color:#3366CC;
	background-image:url('http://race-data.net/images/head_right.png');
	background-repeat:no-repeat;
	background-position:right;
	position:relative;
	width:280px;
	right:11px;
	bottom:11px;
	border:1px solid #000078;
	color:white;
	font-weight:bold;
	text-align:center;
	font-size:14px;
	padding:10px;
}

div.righthead {
	border:1px solid #000078;
	background-color:#3366CC;
	color:white;
}

div.thead {
	padding:2px;
	text-align:center;
	font-weight: bold;
	font-size:13px;
	margin-top:5px;
	margin-bottom:5px;
	
	border:1px solid #000078;
	background-color:#3366CC;
	color:white;
}

/**/

td.podium {
	border-style:none;
	position:relative;
	font-size:20px;
	font-weight:bold;
}

div.box {
	border:1px solid #AAAAAA;
	background-color:#F9F9F9;
	display:inline-block;
	padding:15px;
}

.birthday {
	padding:3px;
	
	background:orange;
	font-family:bebasneue;
	font-size:28px;
	color:white;
	
	padding-left:5px;
	padding-right:5px;
	
	border-radius:2px;
	border: 1px solid #EF7C00;
}

div.nav_big {
	width:700px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	
	background-color:#DDDDDD;
	border:1px solid grey;
	border-radius:2px;
}

div.content {
	width:280px;
	border:1px solid #AAAAAA;
	background-color:#F9F9F9;
}

div.lng {
	position:absolute;
	top:0px;
	left:0px;
}
div.lng ul ul {
	display: none;
}
div.lng ul li:hover > ul {
	display: block;
}
div.lng ul {
	list-style: none;
	position: relative;
}
div.lng ul:after {
	content: "";
	clear: both;
	display: block;
}
div.lng ul li {
	float: left;
	margin:0px;

	background: #ddd;
	display: block;
	padding:0px;
	text-decoration: none;
	border-color:gray;
	border:solid;
	border-width:0 1px 1px 0;
	border-radius:0 0 2px 0;
}	
div.lng ul ul {
	background: #ddd;
	padding: 0px;
	position: absolute;
	top: 100%;
}
div.lng ul ul li {
	width:46px;
	text-align:center;
	background: #ddd;
	float: none;
	position: relative;

	padding: 2px 0px;
	border:none;
}
div.lng ul {
	margin:0px;
	padding:0px;
	z-index:1;
}