@font-face {
	font-family:russo;
	src:url(/fonts/russoOne.ttf);
}

h1 {
	font-weight:normal;
	font-family:russo;
	font-size:28px;
	margin-top:18px;
	margin-bottom:18px;
}

.color {
	padding-left:5px;
	background-color:red;
	color:#EEEEEE;
	text-shadow: -1.5px -1.5px #444;
	box-shadow: 1.25px 1.25px #444;
	border:1px solid #880000;
	border-radius:3px;
	margin-right:1.5px;
}

.green {
	background-color:#01BA3E;
	border:1px solid #01822B;
}

body {
    margin:0px;
	background-color:#EEEEEE;
	font-family: 'Arial';
	font-size:13px;
}

div {
	overflow:auto;
}

div.main {
	width:932px;
	margin-left:auto;
	margin-right:auto;
}

div.header {
	border:1px solid #999999;
	border-top:none;
	/*border-radius:0 0 4px 4px;*/
	padding:5px 10px;
	box-shadow:2px 2px 4px gray;
	background-color:#CC0000;
	color:#FFFFE0;
}

div.foot {
	padding:20px 0px;
	border-top:1px solid #ccc;
	margin-top:20px;
}

div.menu {
	border:1px solid #999999;
	border-top:none;
	border-radius:0 0 4px 4px;
	background-color:#DDDDDD;
	color:#FFFFE0;
}

a {
	text-decoration:none;
	color:blue;
}

a:hover {
	text-decoration:underline;
	color:red;
}