body {
	background-color:#EEE;
	font-family: 'Arial';
	font-size:13px;
	margin:0;
}

p {
	margin:8px 0;
}

a:link,
a:visited,
a:active {
	color:#0645AD;
	text-decoration:none;
}
a:hover {
	color:#FF0000;
	text-decoration:underline;
}
a.uline {
	text-decoration:underline;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family:'Russo One';
	margin:10px 0;
	color:#222;
}

h1 {
	margin: 0 0 10px 0;
}

h2 {
	font-size:24px;
}

h3 {
	font-size:18px;
}