.active {
	padding:2px;
	border-radius:3px;
	border: 1px solid #800000;
	background-color:red;
	font-size:28px;
	color:white;
	/*float:right;*/
	margin-left:15px;
	font-weight:normal;
}

.message {
	padding:2px;
	color:grey;
	box-shadow: 2px 2px 1px #888888;
	border-radius:5px;
	border: solid 1px #ead6b3;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:10px;
	background:#fffacd;
}

#error {
	background: #FF5555;
	border: solid 1px #CC0000;
	color:white;
	font-weight:bold;
}

#headinfo {
	background: #0000CC;
	border: solid 1px #000066;
	color:white;
	font-weight:bold;
	float:right;
}
#indy {
	background: #A3A32B;
	border: solid 1px #636334;
	color:white;
	font-weight:bold;
	float:right;
}
a.close {
	color:white;
}
a.close:hover {
	color:red;
	background:white;
	text-decoration:none;
}

#no {
	background-color:red;
	text-align:center;
	color:red;
}
#quote {
	color:red;
}

.info {
	padding:2px;
	padding-right:15px;
	padding-left:15px;
	color:white;
	box-shadow: 2px 2px 1px #888888;
	border-radius:5px;
	background:#009966;
	font-size:16px;
}
.timer {
	font-family:bebasneue;
	font-size:30px;
}