/*Printable version stylesheet*/

@media print {
	body {
		visibility:hidden;
		background:none;
	}
	.main {
		visibility:visible;
		border:none;
		padding:0px;
		margin:0px;

		width:100%;
		
		position: relative;
		bottom:150px;
		
	}
	
	img.logo {
		visibility:visible;
		position: relative;
		right:175px;
	}
}