@font-face {
	font-family:BebasNeue;
	src:url(font/bebasneue.woff);
}

channel link, channel language, channel copyright, channel managingEditor, channel webMaster, channel docs, channel lastBuildDate, channel item pubDate {
	display:none;
}

rss {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	background-color: #EEEEEE;
}

channel title {
	display:block;
	padding: 5px 20px;
	color:#FFF;
	font-family:BebasNeue;
	font-size:32px;
	background-color:#4483C7;
	background-color:rgb(1, 79, 162);
	border-bottom:1px solid rgb(1, 45, 92);
}

channel description {
	float:left;
	font-size:130%;
	margin:20px;;
}

channel item {
	border:1px solid grey;
	border-radius:2px;
	clear:both;
	display:block;
	margin:1em;
	padding:10px;
	background-color:white;
}

channel item title {
	font-family:Arial, Helvetica, sans-serif;
	color:black;
	display:block;
	font-size:110%;
	font-weight:bold;
	background:none;
	border:none;
	margin:0px;
	padding:0px;
}

channel item link {
	color:#888888;
	display:block;
	font-size:80%;
	padding-bottom:10px;
}

channel item description {
	display: block;
	float:none;
	margin:0;
	text-align:left;
	color:black;
	font-size:100%;
	font-weight:normal;
}