table {
	border-collapse:collapse;
}

th, td{
	border: 1px solid #AAA;
	padding:3px;
}

table {
	border: 1px solid #AAA;
	background-color:#F0F0F0;
}

table th, table.standing td.place {
	background-color:#E5E5E5;
}

table.plain, table.plain td {
	border:none;
	background:none;
}

table.podium {
	border-style:none;
	background:none;
	text-align:center;
}

table.podium td {
	border-style:none;
	position:relative;
	font-size:20px;
	font-weight:bold;
}

table.plain, table.plain td {
	border:none;
	background:none;
}