.red_bull {
background-color:#300087;
color:#ffffff;
}
.ferrari {
background-color:#ef1515;
color:#ffffff;
}
.mclaren {
background-color:#848484;
color:#ffffff;
}
.lotus3 {
background-color:#f5b102;
color:#ffffff;
}
.mercedes {
background-color:#31b9ae;
color:#ffffff;
}
.sauber {
background-color:#3c3c3c;
color:#ffffff;
}
.force_in {
background-color:#e8692f;
color:#ffffff;
}
.williams {
background-color:#ffffff;
color:#1c32ca;
}
.toro_ros {
background-color:#080bb1;
color:#ffffff;
}
.caterham {
background-color:#014100;
color:#ffffff;
}
.marussia {
background-color:#df002d;
color:#ffffff;
}