/*Tyres*/

.tyre_A {
	color:white;
	background:black;
}
.tyre_B {
	color:white;
	background:#f90000;
}
.tyre_C {
	color:black;
	background:#FF9933;
}
.tyre_D {
	color:black;
	background:#FFEE00;
}
.tyre_E {
	color:#0000C0;
	background:yellow;
}
.tyre_F {
	color:red;
	background:white;
}
.tyre_G {
	color:white;
	background:#af7817;
}
.tyre_M {
	color:white;
	background:#00008b;
}
.tyre_P {
	color:#dd0029;
	background:#fee100;
}