Options +FollowSymLinks -Indexes
RewriteEngine On 
RewriteOptions MaxRedirects=5
  
#RewriteCond %{SCRIPT_FILENAME} !-d  
#RewriteCond %{SCRIPT_FILENAME} !-f  

#([a-zA-Z0-9_]+)([/]?)$

RewriteRule ^driver([/]?)$ /drivers.php
RewriteRule ^driver/([a-zA-Z0-9_]+)([/]?)$ /driver.php?driver=$1

RewriteRule ^team([/]?)$ /teams.php
RewriteRule ^team/([a-zA-Z0-9_]+)([/]?)$ /team.php?team=$1

RewriteRule ^circuit([/]?)$ /circuits.php
RewriteRule ^circuit/([a-zA-Z0-9_]+)([/]?)$ /circuit.php?circuit=$1

RewriteRule ^chassis([/]?)$ /chassises.php
RewriteRule ^chassis/([a-zA-Z0-9_]+)([/]?)$ /chassisCons.php?cons=$1
RewriteRule ^chassis/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)([/]?)$ /chassis.php?cons=$1&chassis=$2

RewriteRule ^engine([/]?)$ /engines.php
RewriteRule ^engine/([a-zA-Z0-9_]+)([/]?)$ /engineCons.php?cons=$1
RewriteRule ^engine/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)([/]?)$ /engine.php?cons=$1&engine=$2

# Error

ErrorDocument 404 /error/404.php
